.navbar {
  height: 4rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms linear;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .container__logo {
      img {
        color: white;
        height: 3rem;
      }
    }

    .container__navigation {
      ul {
        list-style-type: none;
      }

      li {
        clear: both;
        font-size: 20px;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
        color: #000;
        white-space: nowrap;

        a {
          color: #ffffff;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            border-bottom: 0 solid #fef159;
            box-shadow: inset 0px -1px 0px 0px #fef159;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .container__cart {
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

}

.navbar_position {
  position: fixed;
}

.navbar_color {
  background-color: #20232a;
  transition: background-color 300ms linear;
}


