.footer {
  height: 3rem;
  background-color: #20232a;
  color: rgba(148, 148, 148, 0.42);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_margin {
  margin-top: 12vh;
}
